.App {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(25, 25, 25, 0.3);
  overflow: hidden;
}

.deco-top {
  position: absolute;
  top: 3.5%;
  right: 0%;
  width: 33%;
  transform: rotate(-5deg);
  opacity: 0.7;
}

.deco-lines {
  position: absolute;
  left: 12.75%;
  width: 270%;
  opacity: 0.7;
}

.deco-bottom {
  position: absolute;
  bottom: 0%;
  left: 0%;
  opacity: 0.9;
}
